{% extends layout %}
 
{% block content %}
<h2>
  {{ url('short_url_redirect', { 'short_code': short_code}) }}
  <small>{{ long_url }}</small>
</h2>
<p>{{ redirects_counter }} redirections!</p>
<img src="{{ path('short_url_qrcode', { 'short_code': short_code}) }}">

<h2>Last redirects</h2>
<table class="table">
    <tr>
        <th>Date</th>
    </tr>
    {% for redirect in last_redirects %}
    <tr>
        <td>{{ redirect['created_at'] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

